<%- include('../../partials/header.ejs'); %>
    <%- include('../../partials/navbar.ejs'); %>

        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Edição Artigo</h2>
                </div>
            <div class="card-body">
                <form method="POST" action="/articles/update">
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <input class="form-control" type="text" name="title" placeholder="defina o titulo do artigo"  value="<%= article.title %>">
                    <br/>
                    <textarea class="form-control mt-2" placeholder="Escreva o artigo aqui" name="body" id="article">
                        <%- article.body %></textarea>
                    <br>
                    <label>Artigo</label> 
                    <br/>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %> 
                            <% if(category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected> <%= category.title %></option>
                            <% } else { %> 
                            <option value="<%= category.id %>"> <%= category.title %></option>
                           <% } %> 
                        <% }) %>
                    </select>
                    <br/>
                    <button class="btn btn-primary">Atualizar</button>
                </form> 
            </div>
            </div>
        </div>
        

 <%- include('../../partials/footer.ejs'); %> 

 <script src="/tinymce/tinymce.min.js"></script>

 <script>

    tinymce.init({
        selector: "#article",
        language: 'pt_BR',
        plugins: 
                 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
        toolbar: 'undo redo  blocks fontfamily fontsize  bold italic underline strikethrough  link image media table mergetags align lineheight  tinycomments checklist numlist bullist indent outdent emoticons charmap removeformat',
    })

 </script>